<!DOCTYPE html>
<html>
  <head>
    <title>ImageGalery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
          <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="https://drive.google.com/file/d/1R2UH4i6aY0SCCowYUr9PFAqpK6brozl7/view?usp=sharing" alt="ImageGalery logo" class="img1" />
        <p class="header">Login to see more</p>
        <% if(error.length >= 0) {%>
          <p class="error"><%= error %></p>
          <% } %>
         
          
        <form action="/login" method="post">
                 <input name="username" type="text" placeholder="username" class="detail" /><br />
                 <input name="password" type="password" placeholder="Password" class="detail" />
                 <input type="submit" class="btn int" value="Login my Account">
             </form> 
                
       
        

        <a href="/forgot">Forgot your password?</a>

       
        <footer>
          <p>
            By continuing, you agree to ImageGalery's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/">Not on ImageGalery yet? Sign up</a>
        </footer>
      </div>
    </div>
   

  </body>
</html>
